.list {
    width: 100%;
  }
  
  .rows {
    padding-top: 1rem;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
  }
  
  .modify_panel {
    user-select: none;
    display: flex;
    gap: 0.5rem;
  }
  
  .modify {
    color: skyblue !important;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .delete {
    color: crimson !important;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .cancel {
    color: grey !important;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .row p {
    color: #252422;
    font-size: 16px;
    font-weight: 400;
  }
  