.items{
    display: flex;
    position: relative;
    align-items: center;
    gap: 13px;
}

.arrowRight{
    position: absolute; 
    right: -20px;
    font-size: 40px;
    background: #BBBBBB;
    opacity: 0.4;
    z-index: 1;
    cursor:pointer;
    border-radius: 50%;
}

@media (max-width: 1200px){
    .arrowRight{
        right: -10px;
    }
}


.arrowLeft{
    position: absolute; 
    left: -20px;
    font-size: 40px;
    background: #BBBBBB;
    opacity: 0.4;
    z-index: 1;
    cursor:pointer;
    border-radius: 50%;
}