.location{
    user-select: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.location > p {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.location_select {
    user-select: none;
    position: absolute;
    display: block;
    left: 18px;
    top: 58px;
    line-height: 1.4;
    z-index: 1000;
}

.location_select > p:hover {
    text-decoration: underline;
    cursor: pointer;
}