.form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid #eee8dc;
    margin-bottom: 10px;
  }
  
  .button_wrapper {
    display: flex;
    justify-content: center;
  }
  
  .form button {
    margin: 1rem 0 1rem 0;
    flex-shrink: 0;
    border-radius: 20px;
    border: none;
    padding: 1rem 6rem;
    background: #eb5e28;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    width: fit-content;
  }
  
  .form_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .form_field input {
    color: #252422;
    font-size: 16px;
    font-weight: 400;
    padding: 0.4rem 0.8rem;
    border-bottom: 1px solid #eee8dc;
  }
  
  .form_field input[type="file"] {
    width: 12rem;
  }
  
  .form_field input[type="text"] {
    width: 12rem;
  }
  
  .form_field input[type="number"] {
    width: 4rem;
  }
  
  .form_field label {
    color: #252422;
    font-size: 16px;
    font-weight: 600;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .description textarea {
    color: #252422;
    font-size: 16px;
    font-weight: 400;
    padding: 0.4rem 0.8rem;
    border-image: none;
    border-width: 0;
    border-bottom: 1px solid #eee8dc;
    width: 94%;
  }
  
  .error {
    color: red;
    text-align: center;
  }