.admin{  
    display: flex;
    align-items: center;
    justify-content: center;

}

.admin > form{
    margin-top: 5%;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

.admin > form > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}