.header {
  background-color: #fffcf2;
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.62rem;
}

.header_replacer {
  width: 100%;
  height: 8.563rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5rem 0 1.13rem 0;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header__logo {
  position: relative;
}
.header__logo > div {
  margin-top: 10px;
  display: flex;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__search > div {
  display: flex;
}

.header__search > div > input {
  border-radius: 10px 0px 0px 10px;
  width: 600px;
}

.catalog {
  display: flex;
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 111px;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  max-height: 1346px;
}

.show {
  visibility: visible;
}

.catalog__container {
  background-color: rgba(255, 252, 242, 1);
  display: flex;
  flex-direction: column;
  padding-right: 17px;
  padding-left: 5.94rem;
  height: 90vh;
  max-height: 1240px;
}

@media (min-width: 1440px) {
  .catalog__container {
    padding-left: 4.2rem;
  }
}

@media (min-width: 1920px) {
  .catalog__container {
    padding-left: 19.5rem;
  }
}

.catalog_items {
  width: 275px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px;
}

.catalog_items > div {
  display: flex;
  gap: 10px;
}

.catalog_items:hover {
  cursor: pointer;
  border-radius: 5px;
  background: #eae6e0;
}

.catalog_items p {
  color: #404040;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.catalog_category {
  background-color: #fffcf2;
  width: 100%;
  min-height: 100%;
  border-left: 1px solid #ccc5b9;
  padding: 1.5rem 0 0 4.12rem;
  font-style: normal;
  line-height: normal;
}

.catalog_category > h1 {
  color: #252422;
  font-family: Inter;
  font-size: 2.6875rem;
  font-weight: 600;
  padding-bottom: 2.12rem;
}

.card_list {
  display: flex;
  width: fit-content;
  gap: 1.63rem 2.25rem;
  flex-wrap: wrap;
}
