.card {
  user-select: none;
  display: inline-flex;
  padding: 0.62rem;
  gap: 0.62rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 10px;
  background: #fffcf2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.card.mini {
  padding: 0.37rem 0.69rem 0.5rem 0.44rem;
  gap: 0.69rem;
}

.card .card_image {
  padding: 6.69rem 4.88rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #bfb6a7;
  width: fit-content;
  color: #fffcf2;
  font-size: 1rem;
  font-weight: 700;
}

.card.mini .card_image {
  padding: 4.75rem 2.75rem;
}

.card .card_image > p {
  font-size: 16px;
}

.card.mini .card_image > p {
  font-size: 14px;
}

.card .card_info {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.card .card_info h2 {
  color: #000;
  font-family: Inter;
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 0.44rem;
}

.card.mini .card_info h2 {
  font-size: 14px;
  padding-bottom: 0.31rem;
}

.card .description {
  color: #5a534b;
  font-family: Inter;
  font-size: 13px;
  font-weight: 700;
  max-width: 11.5625rem;
  padding-bottom: 1.62rem;
}

.card.mini .description {
  font-size: 10px;
  padding-bottom: 0.5rem;
}

.card .level {
  color: #989898;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.card.mini .level {
  font-size: 10px;
}

.card .price {
  text-align: center;
  width: 100%;
  padding: 0.6875rem 0rem;
  border-radius: 0.625rem;
  background: #e8e8e8;
  margin-bottom: 0.44rem;
}

.card.mini .price {
  padding: 0.6875rem 0rem;
}

.card .price > span {
  color: #252422;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
}

.card.mini .price > span {
  font-size: 14px;
}

.card .card_info button {
  display: flex;
  padding: 0.75rem 4.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  border-radius: 0.625rem;
  background: #eb5e28;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.card.mini .card_info button {
  font-size: 14px;
  padding: 0.88rem 2.94rem;
}
