.card {
    display: inline-flex;
    padding: .62rem;
    gap: .62rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #fffcf2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    width: fit-content;
  }
  
  .card_image {
    padding: 6.69rem 4.88rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #bfb6a7;
    width: fit-content;
    color: #fffcf2;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .card_image > p {
    font-family: Inter;
    font-size: 16px;
  }
  
  .card_info {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  .card_info h2 {
    color: #000;
    font-family: Inter;
    font-size: 1.1875rem;
    font-weight: 700;
    padding-bottom: 0.44rem;
  }
  
  .description {
    color: #5a534b;
    font-family: Inter;
    font-size: 0.8125rem;
    font-weight: 700;
    max-width: 11.5625rem;
    padding-bottom: 1.62rem;
  }
  
  .level {
    color: #989898;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  
  .price {
    text-align: center;
    width: 100%;
    padding: 0.6875rem 0rem;
    border-radius: 0.625rem;
    background: #e8e8e8;
    margin-bottom: 0.44rem;
  }
  
  .price > span {
    color: #252422;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  .card_info button {
    display: flex;
    padding: 0.75rem 4.4375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    background: #eb5e28;
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
  }
  