.container{
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./../../../../public/bc3.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
