.editForm{
    background-color:antiquewhite;
    padding: 15px;
    border-radius: 15px;
}

.formwrapper{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formwrapper input{
    padding-left: 15px;
    border-radius: 15px;
    color: black;
    font-weight: 500;
}

.formwrapper > *{
    flex-shrink: 0;
}