.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 17px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 42px;
}

.bottom > img {
  user-select: none;
  padding-bottom: 10px;
}

@media (max-width: 1280px) {
  .bottom img {
    display: none;
  }
}

.bottom__left {
  margin-top: 43px;
}

.ads {
  position: relative;
  height: 188px;
  border-radius: 10px;
  border: 1px solid #ccc5b9;
  background: #fffcf2;
  margin-bottom: 31px;
}

.left {
  width: fit-content;
}

.left h1 {
  max-width: 34.563rem;
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 60px;
}

.main h3 {
  max-width: 34.563rem;
  color: #252422;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 640px) {
  .left h1 {
    font-size: 28px;
  }
  .main h3 {
    font-size: 22px;
  }
}

.right {
  width: 240px;
  height: 392px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #ccc5b9;
  background: #fffcf2;
}

@media (max-width: 1280px) {
  .right {
    display: none;
  }
}

.no_products {
  padding-top: 0.5rem;
  font-size: 14px;
}
