.top{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
    margin-left: -73px;
}

@media (max-width: 1200px){
    .top{
        margin-left: 0px;
    }
    .right{
        margin-bottom: 20px;
        border-radius: 10px;
        display: none;
    }
}

.ads{
    position: relative;
    height: 188px;  
    background-color: #cdcdcd;
    border-radius: 10px;
    margin-bottom: 30px;
}

.left>h1{
    width: 553px;
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.left>h3{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}




.right{
    background-color: #cdcdcd;
    width: 180px;
    height: 370px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 45px;
}

@media (max-width: 1600px){
    .bottom{
        gap: 45px;
    }
}

@media (max-width: 1200px) {
    .bottom__right {
      display: none;
    }
}

.bottom h3{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}